.sec{
overflow: auto;
height: auto,
width:auto;
padding: 0;
}

.logo{
	width: 40%;
	height: 500px;
}
.div{
	float: right;
	margin-right: 30%;
	
}
.img{
	display: flex;
	align-content: center;
	margin-left: 20%;

	width: 20%;
}
.P{
	float: left;
	margin-left: -20%;
	padding: 20% 5%;
	
}
.img1{
	display: flex;
	align-content: center;
	margin-left: -7%;
	
	width: 20%;
}
.P1{
	float: left;
	margin-left: -30%;
	

}
.img2{
	display: flex;
	align-content: center;
	margin-left: 3%;
	
	width: 20%;

}
.P2{
	float: left;
	margin-left: -60%;
	
}