*{
	
}
img{
	width: 40%;
	height: 300px;
	float: left;
	margin-left: 500px;

}
section{
	overflow: auto;
	width: 100%;
	text-align: center;
	height: auto;


}
head{
	float: left;
	width: 200%;

}
hr {
	color: #0056b2
	border color:#123456;
	
	}
h1{
	
}
nav{

	width: 90%;
	height: 400px;
	background-image: linear-gradient(#6A51AD , #64b3f4);
	float: left;
	margin-left: 5%;
	
}
.boton1{
	background-image: linear-gradient(#6A51AD , #64b3f4);
	border-radius: 10px;
	
}
#boton2{
	background-image: linear-gradient(#6A51AD , #64b3f4);
	border-radius: 10px;
	float: left;
	margin-left: 80%;
}

.pintartabla {  
	border: solid 3px #7F5BA3FF;
	border-radius: 15px 15px;
	width: 90%;
	float: left;
	margin-left: 5%;
}
th, td {
	border: solid 3px #7F5BA3FF;
}
