*{
	
}
img{
	width: auto;
	height: 200px;
	float: left;
	margin-left: 30%;
	

}
section{
	overflow: auto;
	width: 100%;
	text-align: center;
	height: auto;


}
head{
	float: left;
	width: 100%;
	height: 100px;

}
hr {
	color: #0056b2
	border color:#123456
	width:60%
	height:3px;

	 ;
	
	}
h1{
	
}
nav{

	width: 60%;
	height: auto;
	text-align: center;
	/*background-image: linear-gradient(#6A51AD , #64b3f4);*/
	float: left;
	margin-left: 30%;
	
}
.boton1{
	background-image: linear-gradient(#6A51AD , #64b3f4);
	border-radius: 15px 15px;
	
	width: 20%;
	height:40px;
	float: left;
	margin-left: 40%;
	
}
#boton2{
	background-image: linear-gradient(#6A51AD , #64b3f4);
	border-radius: 10px;
	float: left;
	margin-left: 80%;
}

.pintartabla {  
	width: 60%;
	height: auto;
	text-align: center;
	/*background-image: linear-gradient(#6A51AD , #64b3f4);*/
	float: left;
	margin-left: 20%;
}
th, td {
	border: solid 3px #7F5BA3FF;
}
footer{
	width: 100%;
	height: 200px;
	border: 3px solid #000000FF;
	border-radius: 15px 15px 15px 15px;
	box-sizing: border-box;
	color: #FFFFFFFF;
	text-align: center;
	background: #000000FF;
	font-synthesis: 24;

}
